<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">

    <h1>Hello <%= typeof fullName !== "undefiend" && fullName ? fullName : "" %>, this is your inbox</h1>
    <a href="/compose-message">Compose message</a>
    <a href="/logout">Logout</a>
    <a href="/outbox">Outbox</a>
    <table id="message-table">
        <tr>
            <th>Sender</th>
            <th>Subject</th>
            <th>Message</th>
            <th>Send at</th>
          </tr>
    </table>
    <div id="pagination"></div>


</div>
</div>
<script>

document.addEventListener("DOMContentLoaded", (event) => {
  console.log("DOM fully loaded and parsed");
  const queryString = window.location.search;
  const params = new URLSearchParams(queryString);

  fetch("/api/messages?" +  new URLSearchParams({
    pageNumber: params.get('pageNumber'),
    pageSize: 5,
    })      
    , {
        method: "GET",
        }).then(res => res.json()).then(res => {
            //put the result into table with table id is "message-table"
            //the table has 4 columns: receiver, subject, message, createdAt
            // the table has button view

            const tableElemnt = document.getElementById("message-table");
            res.items.forEach(data => {
                const row = document.createElement("tr");
                const sender = document.createElement("td");
                const subject = document.createElement("td");
                const message = document.createElement("td");
                const sendAt = document.createElement("td");
                const viewButton = document.createElement("button");
                viewButton.innerText = "View";
                viewButton.addEventListener("click", () => {
                    //redirect to /message/:id
                    window.location.replace("/message/" + data.id);
                })
                sender.innerText = data.sender;
                subject.innerText = data.subject;
                message.innerText = data.message;
                sendAt.innerText = Intl.DateTimeFormat(undefined, {
                    timeStyle: "medium",
                    dateStyle: "medium",
                }).format(new Date(data.sendAt));
                row.appendChild(sender);
                row.appendChild(subject);
                row.appendChild(message);
                row.appendChild(sendAt);
                row.appendChild(viewButton);
                tableElemnt.appendChild(row);
            })

            //add pagination element with a list a number of page in div with id "pagination"
            const paginationElement = document.getElementById("pagination");
            for(let i = 1; i <= res.totalPage; i++) {
                const pageButton = document.createElement("button");
                pageButton.innerText = i;
                pageButton.addEventListener("click", () => {
                    window.location.replace("/?pageNumber=" + i);
                })
                paginationElement.appendChild(pageButton);
            }


        })
});

    
</script>
</body>
</html>