<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <style>
        body         { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Message detail</h1>

    <% if (typeof(data) !== "undefined" && data) { 
        %>
        <div>Sender: <%= data.sender %></div>
        <div>Subject: <%= data.subject %></div>
        <div>Message: <%= data.message %></div>
        <div>Send at: <%= Intl.DateTimeFormat(undefined, {
            timeStyle: "medium",
            dateStyle: "medium",
        }).format(new Date(data.sendAt)) %></div>
    <% } else { %>
        <span>Not found</span>
    <% } %>

</div>
</div>
</body>
</html>